// 彈出視窗
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    // overflow-x: hidden;
}
#btn-close-modal {
    max-width: 1903px;

    width: 100%;
    text-align: center;
    cursor: pointer;
    color: transparent;
}

.closeButton {
    img {
        width: 46px;
        border-radius: 50%;
        box-shadow: 3px 3px 5px rgba(#000, 0.5);
        margin: 33px auto 142px;
    }
}

.top {
    width: 100%;
    max-width: 1920px;
    height: 667px;
    // 同高度
    background-image: url(../圖片/section3/彈出視窗/彈出視窗-背景2.png);
    background-size: cover;
    background-position: center;
    margin: 0 auto -667px;
    // background-color: transparent;
}

.cardPage {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    .waveout3 {
        width: 1920px;
        overflow: hidden;
        position: absolute;
        bottom: 0px;
        top: 10px;

        svg {
            width: 100%;
        }

        .waveout {
            animation: wave 3s linear;
            animation-iteration-count: infinite;
            fill: url(#lineGradient);
        }

        @keyframes wave {
            to {
                transform: translateX(-100%);
            }
        }
    }

    .contain {
        padding: 33px 15.5% 0px;

        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: cover;
        background-position: bottom;
        position: relative;
        background-color: transparent;
    }

    .spotbox {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .spotImg {
            width: 527px;
            height: 527px;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 7px 7px 5px rgba(#000, 0.5);
            background-size: cover;

            .post {
                width: 190px;
                height: 174.4833px;
                background-image: url(../圖片/section3/彈出視窗/便利貼.png);
                background-size: cover;
            }
        }

        .spotName {
            width: 310px;
            height: 90px;
            background-image: url(../圖片/section3/彈出視窗/便條紙2.png);
            background-repeat: no-repeat;
            font-family: 微軟正黑體;
            font-size: 36px;
            font-weight: bold;
            color: #fff;
            line-height: 90px;
            padding-left: 14px;

            margin-top: 132px;
            margin-right: 200px;
        }
    }



    .spotText {
        font-family: 微軟正黑體;

        h1 {
            font-size: 24px;
            margin-top: 0;
            margin-bottom: 28px;
            padding-bottom: 28px;
            border-bottom: 1px solid #000;
        }

        span {
            font-size: 18px;
            line-height: 36px;
            font-weight: bold;
        }

        .spotDescript {
            margin-bottom: 50px;
        }
    }

}

.swiper {
    width: 100%;
    height: 345px;
    margin-top: 89px;
    margin-bottom: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.glide {
    width: 100%;
}

.glide__track {
    overflow: visible;
}

.glide__slides {
    overflow: visible;
    height: 293px;
    justify-content: space-between;
}

.glide__slide {
    filter: blur(3px);
    opacity: 0.7;
    transition: 0.3s linear;
    width: 306px;
    height: 293px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.glide__slide--active {
    opacity: 1;
    filter: none;
    width: 637px;

    transform: scale(1.1);
    box-shadow: 7px 7px 5px rgba(#000, 0.5);
    z-index: 1;

    img {
        width: 100%;
    }
}

#modal-01 {
    .spotImg {
        background-image: url(../圖片/section3/彈出視窗/店家、景點-封面/01-腳踏車道.jpg);
    }
}

#modal-02 {
    .spotImg {
        background-image: url(../圖片/section3/彈出視窗/店家、景點-封面/02-50年代童玩.jpg);
    }
}

#modal-03 {
    .spotImg {
        background-image: url(../圖片/section3/彈出視窗/店家、景點-封面/03-許家花枝燒.jpg);
    }
}

#modal-04 {
    .spotImg {
        background-image: url(../圖片/section3/彈出視窗/店家、景點-封面/04-宋記油心鹹蛋.jpg);
    }
}

#modal-05 {
    .spotImg {
        background-image: url(../圖片/section3/彈出視窗/店家、景點-封面/05-姊妹雙胞胎.jpg);
    }
}

#modal-06 {
    .spotImg {
        background-image: url(../圖片/section3/彈出視窗/店家、景點-封面/06-TON-UP.jpg);
    }
}

#modal-07 {
    .spotImg {
        background-image: url(../圖片/section3/彈出視窗/店家、景點-封面/07-水灣四季餐廳.jpg);
    }
}

#modal-08 {
    .spotImg {
        background-image: url(../圖片/section3/彈出視窗/店家、景點-封面/08-巴達桑.jpg);
    }
}

#modal-09 {
    .spotImg {
        background-image: url(../圖片/section3/彈出視窗/店家、景點-封面/09-13行博物館.jpg);
    }
}

// 彈出頁面 RWD
@media screen and (max-width:1600px) {


    .spotbox {
        flex-direction: column;
        align-items: center;
        .spotImg {
            width: 263.5px !important;
            height: 263.5px !important;
            .post {
                width: 95px !important;
                height: 87px !important;
            }
        }
        .spotName {
            margin: 50px auto 50px !important;
        }
    }
    
    .swiper {
        margin-top: 10px;
        margin-bottom: 60px;
    }
}

@media screen and (max-width:768px) {

    .spotText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-items: center;
        h1 {
            text-align: center;
        }
        .spotDescript, .spotContact {
            display: flex;
            flex-direction: column;
            span {
                text-align: center;
            }
        }
    }
    
    .swiper {
        display: none;
    }

}
