* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.wave3 {
  width: 100vw;
  // position: fixed;
  // bottom:0px; 

  svg {
    width: 100%;
  }

  .wave {
    animation: wave 3s linear;
    animation-iteration-count: infinite;
    fill: #4478e3;

  }
  #wave2 {
    animation-duration: 5s;
    animation-direction: reverse;
    opacity: 0.6;
  }

  #wave3 {
    animation-duration: 7s;
    opacity: 0.3;
  }
  @keyframes wave {
    to {
      transform: translateX(-100%);
    }
  }

}