$blue : #90F0FC;
$white: #FFF9D9;
$pink: #D5758A;
$pshadow:#BA4A4A;
$point: #A2ACA4;
$choose: #F8F3DD;


* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#container {
    margin: 0 auto;
    max-width: 1920px;
    position: relative;
}

header {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 16.37%;
    height: 75px;
    background-image: linear-gradient(to right, $white, $blue);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;

    .logo {
        margin-right: auto;

        img {
            height: 65px;
        }

    }

    nav {
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            font-size: 24px;
            font-weight: bold;

            li {
                padding: 10px 30px;
                border-left: 1px solid black;
                a{
                    text-decoration: none;
                    color: #000;
                }

                &:nth-child(1) {
                    border-left: none;
                }
            }

        }
    }
}

section {
    width: 100%;
    max-width: 1920px;
    height: 1080px;
    position: relative;
    overflow: hidden;
    // padding-top: 75px;
    // margin-top: -75px;
}

#section1 {
    background-image: url(../圖片/section1/banner.png);
    background-size: cover;
    background-position: center;

    .banner-road {
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: 1;
    }

    .banner-bike {
        width: 196px;
        position: absolute;
        bottom: 48px;
        right: 420px;
        z-index: 1;
        transform: rotateY(180deg);
    }

    .bali-big {
        font-size: 287.1316px;
        font-family: "Bauhaus 93";
        color: $pink;
        position: absolute;
        left: 89px;
        bottom: 163px;
        z-index: 1;
        text-shadow: 7px 7px 5px rgba($pshadow, 0.75);
    }

    .banner-text {
        font-size: 48px;
        position: absolute;
        right: 23px;
        bottom: 110px;
        z-index: 1;
        font-family: "Hanyi Senty Journal Regular";
    }

}

.wave3 {
    width: 1920px;
    overflow: hidden;
    position: absolute;
    bottom: -5px;

    svg {
        width: 100%;
    }

    .wave {
        animation: wave 3s linear;
        animation-iteration-count: infinite;
        fill: url(#lineGradient);
    }

    @keyframes wave {
        to {
            transform: translateX(-100%);
        }
    }
}

@media screen and (max-width: 768px) {
    #section2 {
        .time-circle {
            .time {
                display: none;
            }
        }
    }
}

#section2 {
    .time-circle {
        width: 493px;
        height: 493px;
        z-index: 3;
        position: absolute;
        top: 25%;
        left: -246.5px;

        .circle {
            width: 493px;
            height: 493px;
            border-radius: 50%;
            position: absolute;

            &:nth-child(1) {
                background-color: rgba(#000000, 0.5);
                box-shadow: 0px 0px 30px rgba(#7D7DB2, 0.75);
            }

            .time {
                display: flex;
                position: absolute;
                top: 50%;
                left: 100%;
                transform: translate(-50%, -50%);

                .point {
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: $point;

                    span {
                        width: 250px;
                        display: inline-block;
                        color: #fff;
                        margin-left: 25px;
                        font-family: 微軟正黑體;
                        line-height: 18px;
                        font-weight: bold;
                        font-size: 18px;
                        text-shadow: 3px 3px 2px rgba(#000000, 0.5);
                    }
                }
            }
        }

        .circle-1 {
            transform: rotate(-40deg);

            .point {
                transform: rotate(40deg);
            }
        }

        .circle-2 {
            transform: rotate(-20deg);

            .point {
                transform: rotate(20deg);
            }
        }

        .circle-4 {
            transform: rotate(20deg);

            .point {
                transform: rotate(-20deg);
            }
        }

        .circle-5 {
            transform: rotate(40deg);

            .point {
                transform: rotate(-40deg);
            }
        }

    }

    .choose {
        background-color: $choose !important;
        box-shadow: 0px 0px 5px 3px rgba(#A7B6EA, 0.75);
        // 加第四個值表示陰影的擴散強度 (spread) ，也可以強化像光暈的效果。
    }

    .choosespan {
        font-size: 24px !important;
    }

    // onclick 旋轉事件集
    .point2,
    .text00,
    .text11,
    .text22,
    .text33,
    .text44 {
        transform: unset !important;
        transition-duration: 1s;
    }

    .point3,
    .text01,
    .text12,
    .text23,
    .text34 {
        transform: rotate(-20deg) !important;
        transition-duration: 1s;
    }

    .point4,
    .text02,
    .text13,
    .text24 {
        transform: rotate(-40deg) !important;
        transition-duration: 1s;
    }

    .text03,
    .text14 {
        transform: rotate(-60deg) !important;
        transition-duration: 1s;
    }

    .text04 {
        transform: rotate(-80deg) !important;
        transition-duration: 1s;
    }

    .point1,
    .text10,
    .text21,
    .text32,
    .text43 {
        transform: rotate(20deg) !important;
        transition-duration: 1s;
    }

    .point0,
    .text20,
    .text31,
    .text42 {
        transform: rotate(40deg) !important;
        transition-duration: 1s;
    }

    .text30,
    .text41 {
        transform: rotate(60deg) !important;
        transition-duration: 1s;
    }

    .text40 {
        transform: rotate(80deg) !important;
        transition-duration: 1s;
    }

    .description {
        width: 1186px;
        height: 275px;
        position: absolute;
        right: 92px;
        bottom: 99px;
        z-index: 4;
        background-color: rgba(#1F1E2B, 0.8);
        border-radius: 30.182px;
        box-shadow: 7px 7px 5px rgba(#000000, 0.5);
        // Ai檔不透明度是0.75，可是用0.5看起來比較像
        font-size: 24px;
        display: none;
        color: #fff;
        font-weight: bold;
        line-height: 36px;
        text-align: center;
    }

    .show {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        height: 100%;
        position: absolute;
    }

    .fixed-img img {
        z-index: 2;
    }

    .appear {
        z-index: 1;
        opacity: 1;
    }
}

#section3 {
    position: sticky;
    top: 75px;
    z-index: 1;
    height: 2700px;
    a{
        color: #000;
    }

    .section3Box {
        width: 100%;
        background-image: url(../圖片/section3/section-2-.jpg);
        background-size: cover;
        height: 1080px;
        position: sticky;
        top: 0px;
        z-index: 1;
    }
    .sec3bike{
        margin-top: 710px;
        margin-left: 103px;
        height: 300px;
        left: 103px;
        position: sticky;
        z-index: 1;
    }

    #section3CardArea {
        overflow-x: hidden;
        display: flex;
        width: 100%;
        padding-top: 66px;
    

        .section3Cards:nth-child(odd) {
            padding-top: 226px;
        }

        .section3Cards:nth-child(1) {
            min-width: 300px;
            height: 750px;
        }

        .section3Cards:nth-last-child(1) {
            min-width: 700px;
            height: 750px;
        }

        .section3Cards {
            min-width: 316.5px;
            height: 750px;
            display: flex;
            justify-content: center;
            margin-right: 24px;

            .section3Card {
                width: 305px;
                height: 520px;
                border-radius: 25px;
                background-color: cornsilk;
                box-shadow: 7px 7px 5px rgba(#000000, 0.5);
                position: relative;
                font-family: 微軟正黑體;
                font-size: 18px;
                font-weight: bold;

                .cardImg {
                    overflow: hidden;
                    border-radius: 25px 25px 0 0;
                    height: 247px;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }

                .cardName {
                    width: 140.4667px;
                    height: 42px;
                    position: absolute;
                    right: -27px;
                    transform: translateY(-50%);
                    background-image: url(../圖片/section3/便條紙.png);
                    background-size: cover;
                    line-height: 34px;
                    padding: 5px 0 0 6px;

                }

                .cardText {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    line-height: 24px;
                    width: 100%;
                    height: 273px;
                    padding: 0 17.5%;
                    position: absolute;
                    bottom: 0;
                }
            }
        }

    }

    // width: 100%;
    // overflow: -moz-hidden-unscrollable;
    // background-color: burlywood;

    // div::-webkit-scrollbar {
    //     display: none;
    // }

    // div {
    //     -ms-overflow-style: none;
    //     height: 100%;
    //     width: calc(100vw + 18px);
    //     overflow: auto;
    // }

    // .horizontal-scroll-wrapper {
    //     width: 700px; //控制與父件的高度
    //     height: 1920px;
    //     overflow-y: auto;
    //     overflow-x: hidden;
    //     transform-origin: right top;
    //     transform: rotate(-90deg) translateY(-700px);
    // }

    // .horizontal-scroll-wrapper>div {
    //     width: 400px;  //控制上下寬
    //     height: 300px; //控制左右距離
    //     background-color: blue;
    //     transform: rotate(90deg);
    //     transform-origin: right top;
    // }
}

#section4 {
    max-width: 1920px;
    background-image: url(../圖片/section4/road3.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 1634px;
    position: relative;

    img{
        width: 50px;
        height: 50px;
    }
    .trasportation{
        height: 800px;
        display: flex;
        justify-content: space-between;
        padding-left: 22%;
        padding-right: 26%;
        max-height: 1090px;
        // background-color: yellow;
        z-index: 50;
        .btn{
            max-width: 1082px;
            padding: 52px 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            div {
                width: 197px;
                height: 197px;
                background-color: #D7D7D7;
                border-radius: 50%;
                div{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .busBtn{
                    img{
                        width: 127px;
                        height: 110px;
                    }
                }  
                .carBtn{
                    img{
                        width: 124px;
                        height: 98px;
                    }
                }
                .bicycleBtn{
                    img{
                        width: 163px;
                        height: 100px;
                    }
                }
            }
        }

        .content{
            padding-top: 75px;
            .title{
                width: 100%;
                height: 94px;
                font-weight: bold;
                padding-left: 35px;
                display: flex;
                align-items: center;
                font-size: 36px;
                p{
                    margin: 0;
                }
            }

            .contentWord{
                padding-left: 69px;
                    
                    
                    .position{
                        margin-bottom: 25px;
                        .word>p{
                        margin: 0 0 14px 0;
                        font-size: 18px;
                        font-weight: bold;
                        }
                        .smallTitle>p{
                            margin: 0 0 14px 0;
                            font-size: 24px;
                            font-weight: bold;
                        }
                    }
            }
            .byPublicTransport{
                display: none;
                width: 550px;
                height: 800px;
                border-radius: 24px;
                background: linear-gradient(to right,#FFF8D8,#93F2F9);
            }   
             
            .byCar{
                display: none;
                width: 550px;
                height: 250px;
                border-radius: 24px;
                background: linear-gradient(to right,#FFF8D8,#93F2F9);
            }
            .byBicycle{
                display: none;
                width: 550px;
                height: 450px;
                border-radius: 24px;
                background: linear-gradient(to right,#FFF8D8,#93F2F9);
                .position{
                    .word:nth-child(1){
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
    








    #footerContent {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 411px;
        bottom: 0px;
        display: flex;
        justify-content: space-between;
        padding: 0 313px;
        font-size: 18px;
        font-weight: bold;

        #footerContentArea {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            #footerInformation {
                display: flex;

                #footerLogo {
                    width: 195px;
                    height: 218px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                #footerDescription {
                    padding: 57px 0 0 27px;

                    p {
                        margin: 0 0 20px 0;
                    }
                }
            }

            #copyright {
                padding: 0 0 41px 0;
            }
        }
    }



}

footer {
    .wave3 {
        width: 1920px;
        overflow: hidden;
        position: absolute;

        svg {
            width: 150%;
        }

        .wave {
            animation: wave 3s linear;
            animation-iteration-count: infinite;
            fill: url(#lineGradient2);
        }

        @keyframes wave {
            to {
                transform: translateX(-100%);
            }
        }
    }

}

// 彈出視窗

#btn-close-modal {
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: transparent;
}

.closeButton {
    img {
        width: 46px;
        border-radius: 50%;
        box-shadow: 3px 3px 5px rgba(#000, 0.5);
        margin: 33px auto 142px;
    }
}

.top {
    width: 100%;
    max-width: 1920px;
    height: 667px;
    // 同高度
    background-image: url(../圖片/section3/彈出視窗/彈出視窗-背景2.png);
    background-size: cover;
    margin: 0 auto -667px;
    // background-color: transparent;
}

.cardPage {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;

    .waveout3 {
        width: 1920px;
        overflow: hidden;
        position: absolute;
        bottom: -5px;

        svg {
            width: 100%;
        }

        .waveout {
            animation: wave 3s linear;
            animation-iteration-count: infinite;
            fill: url(#lineGradient);
        }

        @keyframes wave {
            to {
                transform: translateX(-100%);
            }
        }
    }

    .contain {
        padding: 33px 15.5% 113px;

        display: flex;
        flex-direction: column;
        align-items: center;
        background-size: cover;
        background-position: bottom;
        position: relative;
        background-color: transparent;
    }

    .spotbox {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .spotImg {
            width: 527px;
            height: 527px;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 7px 7px 5px rgba(#000, 0.5);
            background-size: cover;

            .post {
                width: 190px;
                height: 174.4833px;
                background-image: url(../圖片/section3/彈出視窗/便利貼.png);
                background-size: cover;
            }
        }

        .spotName {
            width: 310px;
            height: 90px;
            background-image: url(../圖片/section3/彈出視窗/便條紙2.png);
            background-repeat: no-repeat;
            font-family: 微軟正黑體;
            font-size: 36px;
            font-weight: bold;
            color: #fff;
            line-height: 90px;
            padding-left: 14px;

            margin-top: 132px;
            margin-right: 200px;
        }
    }



    .spotText {
        font-family: 微軟正黑體;

        h1 {
            font-size: 24px;
            width: 800px;
            margin-top: 0;
            margin-bottom: 28px;
            padding-bottom: 28px;
            border-bottom: 1px solid #000;
        }

        span {
            font-size: 18px;
            line-height: 36px;
            font-weight: bold;
        }

        .spotDescript {
            margin-bottom: 50px;
        }
    }

}

.swiper {
    width: 100%;
    height: 345px;
    margin-top: 89px;
    margin-bottom: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.glide {
    width: 100%;
}

.glide__track {
    overflow: visible;
}

.glide__slides {
    overflow: visible;
    height: 293px;
    justify-content: space-between;
}

.glide__slide {
    filter: blur(3px);
    opacity: 0.7;
    transition: 0.3s linear;
    width: 306px;
    height: 293px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.glide__slide--active {
    opacity: 1;
    filter: none;
    width: 637px;

    transform: scale(1.1);
    box-shadow: 7px 7px 5px rgba(#000, 0.5);
    z-index: 1;

    img {
        width: 100%;
    }
}

#modal-01 {
    .spotImg {
        background-image: url(../圖片/section3/彈出視窗/店家、景點-封面/01-腳踏車道.jpg);
    }
}

#modal-02 {
    .spotImg {
        background-image: url(../圖片/section3/彈出視窗/店家、景點-封面/02-50年代童玩.jpg);
    }
}

#modal-03 {
    .spotImg {
        background-image: url(../圖片/section3/彈出視窗/店家、景點-封面/03-許家花枝燒.jpg);
    }
}

#modal-04 {
    .spotImg {
        background-image: url(../圖片/section3/彈出視窗/店家、景點-封面/04-宋記油心鹹蛋.jpg);
    }
}

#modal-05 {
    .spotImg {
        background-image: url(../圖片/section3/彈出視窗/店家、景點-封面/05-姊妹雙胞胎.jpg);
    }
}

#modal-06 {
    .spotImg {
        background-image: url(../圖片/section3/彈出視窗/店家、景點-封面/06-TON-UP.jpg);
    }
}

#modal-07 {
    .spotImg {
        background-image: url(../圖片/section3/彈出視窗/店家、景點-封面/07-水灣四季餐廳.jpg);
    }
}

#modal-08 {
    .spotImg {
        background-image: url(../圖片/section3/彈出視窗/店家、景點-封面/08-巴達桑.jpg);
    }
}

#modal-09 {
    .spotImg {
        background-image: url(../圖片/section3/彈出視窗/店家、景點-封面/09-13行博物館.jpg);
    }
}