@media screen and (max-width : 1470px) {
    #section2 {
        max-height: 827px;
        .timelist {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 10%;
            z-index: 4;
            gap: 8px;

            span {
                width: 250px;
                display: inline-block;
                color: #fff;
                font-family: 微軟正黑體;
                line-height: 29px;
                font-weight: bold;
                font-size: 16px;
                text-shadow: 3px 3px 2px rgba(#000000, 0.5);
                background-color: rgba(#000000, 0.8);
                padding: 8px;
            }
            .timeshow {
                background-color:  rgba(#eca23b, 0.8);
            }
        }

        .description {
            width: 100%;
            height: 200px;
            bottom: 0px;
            right: 0px;
            z-index: 4;
            background-color: rgba(#1F1E2B, 0.8);
            font-size: 16px;
            color: #fff;
            font-weight: bold;
            line-height: 30px;
            text-align: center;
            border-radius: 0;
        }

        .time-circle {
            display: none;
        }

        .fixed-img {
            display: none;
        }

    }
}

@media screen and (max-width : 1024px) {
    #section2{
        max-height: 576px;
    }
}

@media screen and (max-width : 768px) {
    #section2 {
        max-height: 468px;
        .timelist {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 10%;
            z-index: 4;
            gap: 8px;

            span {
                width: 250px;
                display: inline-block;
                color: #fff;
                font-family: 微軟正黑體;
                line-height: 29px;
                font-weight: bold;
                font-size: 16px;
                text-shadow: 3px 3px 2px rgba(#000000, 0.5);
                background-color: rgba(#000000, 0.8);
                padding: 8px;
            }
            .timeshow {
                background-color:  rgba(#eca23b, 0.8);
            }
        }

        .description {
            width: 100%;
            height: 120px;
            bottom: 0px;
            right: 0px;
            z-index: 4;
            background-color: rgba(#1F1E2B, 0.8);
            font-size: 12px;
            color: #fff;
            font-weight: bold;
            line-height: 20px;
            text-align: center;
            border-radius: 0;
        }

        .time-circle {
            display: none;
        }

        .fixed-img {
            display: none;
        }

    }
}