@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#section3 {
  max-width: 1920px;
  background-image: url(../圖片/section3/grass.png);
  background-position: center;
  background-repeat: no-repeat;
}

#section3 .sticky-container .gallery {
  padding-top: 66px;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  min-height: 700px;
}

#section3 .sticky-container .gallery .card {
  min-width: 305px;
  height: 520px;
  width: 305px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4ch;
  background-color: blanchedalmond;
  margin: 0px 12.5px;
}

#section3 .sticky-container .gallery .card:nth-child(1) {
  min-width: 500px;
  opacity: 0;
}

#section3 .sticky-container .gallery .card:nth-child(even) {
  background-color: teal;
  color: white;
  margin-top: 50px;
}

#section4 {
  max-width: 1920px;
  background-image: url(../圖片/section4/road2.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 1634px;
  padding-top: 41px;
}

#section4 img {
  width: 196px;
  height: 196px;
}

#section4 #publicTransport {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section4 #publicTransport #publicTransportImg {
  width: 752px;
  height: 471px;
  position: relative;
}

#section4 #publicTransport #publicTransportImg img {
  position: absolute;
  right: 24px;
  top: 27px;
}

#section4 #publicTransport #publicTransportArea {
  width: 721px;
  height: 465px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 24px;
}

#section4 #publicTransport #publicTransportArea #transportationTitle {
  height: 70px;
  vertical-align: middle;
  display: table-cell;
}

#section4 #publicTransport #publicTransportArea #transportationTitle span {
  font-size: 36px;
}

#section4 #publicTransport #publicTransportArea #transportationContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 46px;
}

#section4 #publicTransport #publicTransportArea #transportationContent #transportationContentLeft {
  width: 396px;
}

#section4 #publicTransport #publicTransportArea #transportationContent #transportationContentLeft div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#section4 #publicTransport #publicTransportArea #transportationContent #transportationContentLeft div:nth-child(1) span:nth-child(1) {
  width: 100%;
  height: 39px;
  font-size: 24px;
}

#section4 #publicTransport #publicTransportArea #transportationContent #transportationContentLeft div:nth-child(1) span:nth-child(2) {
  width: 100%;
  height: 60px;
  font-size: 18px;
}

#section4 #publicTransport #publicTransportArea #transportationContent #transportationContentLeft div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
}

#section4 #publicTransport #publicTransportArea #transportationContent #transportationContentLeft div:nth-child(2) span:nth-child(1) {
  font-size: 24px;
  line-height: 24px;
}

#section4 #publicTransport #publicTransportArea #transportationContent #transportationContentLeft div:nth-child(2) span {
  width: 100%;
  line-height: 34px;
}

#section4 #publicTransport #publicTransportArea #transportationContent #transportationContentRight {
  width: 281px;
}

#section4 #publicTransport #publicTransportArea #transportationContent #transportationContentRight span:nth-child(1) {
  width: 100%;
  height: 39px;
  font-size: 24px;
}

#section4 #publicTransport #publicTransportArea #transportationContent #transportationContentRight span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 34px;
  font-size: 18px;
}

#section4 #carAndBicycle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#section4 #carAndBicycle #car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 32px;
}

#section4 #carAndBicycle #car #carArea {
  width: 476px;
  height: 212px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 24px;
}

#section4 #carAndBicycle #car #carArea #carTitle {
  height: 74px;
  font-size: 36px;
}

#section4 #carAndBicycle #car #carArea #carContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 48px;
}

#section4 #carAndBicycle #car #carArea #carContent span {
  width: 100%;
  height: 34px;
  font-size: 18px;
}

#section4 #carAndBicycle #car #carImg {
  display: block;
  height: 212px;
  margin-left: 20px;
}

#section4 #carAndBicycle #car #carImg img {
  margin: 7px 0;
}

#section4 #carAndBicycle #bicycle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#section4 #carAndBicycle #bicycle #bicycleImg {
  height: 382px;
}

#section4 #carAndBicycle #bicycle #bicycleImg img {
  height: 306px;
  width: 306px;
  margin: 40px 24px;
}

#section4 #carAndBicycle #bicycle #bicycleArea {
  width: 482px;
  height: 382px;
  margin-right: 26px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 24px;
}

#section4 #carAndBicycle #bicycle #bicycleArea #bicycleTitle {
  height: 74px;
  width: 100%;
  font-size: 36px;
}

#section4 #carAndBicycle #bicycle #bicycleArea #bicycleContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 40px;
}

#section4 #carAndBicycle #bicycle #bicycleArea #bicycleContent #bicycleContentUp {
  height: 204px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#section4 #carAndBicycle #bicycle #bicycleArea #bicycleContent #bicycleContentUp span {
  width: 100%;
  height: 34px;
  font-size: 18px;
}
/*# sourceMappingURL=index.css.map */