$blue : #C7DFFF;
$white: #fff;
$pink: #EB3796;
$point: #55F7FF;
$choose: #0A64FF;

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 75px;
    background-image: linear-gradient(to right, $white, $blue);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;

    .logo {
        margin: auto;

        img {
            height: 65px;
        }

    }

    nav {
        margin-right: 285px;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            font-size: 24px;
            font-weight: bold;

            li {
                padding: 10px 30px;
                border-left: 1px solid black;

                &:nth-child(1) {
                    border-left: none;
                }
            }

        }
    }
}

section {
    width: 100%;
    height: 100vh;
    position: relative;
}

#section1 {
    .bali-big {
        font-size: 287.1316px;
        font-family: "Bauhaus 93";
        color: $pink;
        position: absolute;
        left: 88px;
        bottom: 165px;
        z-index: 1;
    }

    .banner-text {
        font-size: 48px;
        position: absolute;
        right: 23px;
        bottom: 26.5px;
        z-index: 1;
        font-family: "Hanyi Senty Journal Regular";
    }

    .wave3 {
        width: 100vw;
        position: absolute;
        bottom: -5px;

        svg {
            width: 100%;
        }

        .wave {
            animation: wave 3s linear;
            animation-iteration-count: infinite;
            fill: url(#lineGradient);
        }

        @keyframes wave {
            to {
                transform: translateX(-100%);
            }
        }
    }
}

#section2 {

    .time-circle {
        width: 493px;
        height: 493px;
        z-index: 3;
        position: absolute;
        left: -246.5px;
        top: calc(50% - 246.5px);

        .circle {
            width: 493px;
            height: 493px;
            border-radius: 50%;
            position: absolute;

            &:nth-child(1) {
                background-color: rgba($white, 0.5);
            }

            .time {
                display: flex;
                position: absolute;
                top: 50%;
                left: 100%;
                transform: translate(-50%, -50%);

                .point {
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: $point;

                    span {
                        width: 250px;
                        display: inline-block;
                        color: $white;
                        margin-left: 25px;
                        font-family: 微軟正黑體;
                        line-height: 18px;
                        font-weight: bold;
                        font-size: 18px;
                    }
                }
            }
        }

        .circle-1 {
            transform: rotate(-40deg);

            .point {
                transform: rotate(40deg);
            }
        }

        .circle-2 {
            transform: rotate(-20deg);

            .point {
                transform: rotate(20deg);
            }
        }

        .circle-4 {
            transform: rotate(20deg);

            .point {
                transform: rotate(-20deg);
            }
        }

        .circle-5 {
            transform: rotate(40deg);

            .point {
                transform: rotate(-40deg);
            }
        }

    }

    .choose {
        background-color: $choose !important;
    }

    .choosespan {
        font-size: 24px !important;
    }

    // onclick 旋轉事件集
    .point2,
    .text00,
    .text11,
    .text22,
    .text33,
    .text44 {
        transform: unset !important;
        transition-duration: 1s;
    }

    .point3,
    .text01,
    .text12,
    .text23,
    .text34 {
        transform: rotate(-20deg) !important;
        transition-duration: 1s;
    }

    .point4,
    .text02,
    .text13,
    .text24 {
        transform: rotate(-40deg) !important;
        transition-duration: 1s;
    }

    .text03,
    .text14 {
        transform: rotate(-60deg) !important;
        transition-duration: 1s;
    }

    .text04 {
        transform: rotate(-80deg) !important;
        transition-duration: 1s;
    }

    .point1,
    .text10,
    .text21,
    .text32,
    .text43 {
        transform: rotate(20deg) !important;
        transition-duration: 1s;
    }

    .point0,
    .text20,
    .text31,
    .text42 {
        transform: rotate(40deg) !important;
        transition-duration: 1s;
    }

    .text30,
    .text41 {
        transform: rotate(60deg) !important;
        transition-duration: 1s;
    }

    .text40 {
        transform: rotate(80deg) !important;
        transition-duration: 1s;
    }
    .description{
        width: 1186px;
        height: 275px;
        position: absolute;
        right: 92px;
        top: 706px;
        z-index: 4;
        background-color: rgba($blue, 0.8);
        font-size: 24px;
        border-radius: 30.182px;
        display: none;
        
    }
    .show{
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 36px;
        text-align:center;
    }
    img {
        position: absolute;
    }

    .fixed-img img {
        z-index: 2;
    }

    .appear {
        z-index: 1;
        opacity: 1;
    }
}
